$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

///////////////////////////////////////////////////////////////
/////////////////////   Primary   /////////////////////////////
///////////////////////////////////////////////////////////////

body {
  // font-family: 'Permanent Marker', cursive;
  font-family: 'Indie Flower', cursive;
  margin-bottom:200px;
  color: #999999;
  background:#fff;
  font-size: 14px;
  background-image: url("https://cloud.githubusercontent.com/assets/13546265/25192338/d5e63a28-2500-11e7-93dd-c18d9d1a1050.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;

}

.wrap-background-image {
  margin-right: 40%;
}

// Headings

// h1 {
//   font-size:30px;
//   text-align: center;
//   color: orange;
//   margin-top: 0px;
// }

#player-one-winner, #player-two-winner, #player-tie {
  display: none;
}

.stats-container {
  display: none;
  color:blue;
  text-align:center;
};

.stats-desc {
  color: blue;
  font-size: 18px;
  text-align: center;
  display: none;
  text-decoration: underline;
}

.stats-response {
  font-size: 16px;
}

.status-button-container {
  text-align:center;
  display: none;
}

#stats-button {
  background: blue;
  color: white;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
}

h3 {
  font-size:20px;
  text-align: center;
  color: black;
  text-decoration: underline;
}

h1 {
  font-size: 30px;
  font-family: 'Permanent Marker', cursive;
  margin-top: 20px;
  clear: both;
  color: blue;
  text-align: center;
}

///////////////////////////////////////////////////////////////
///////////////////// Forms and Buttons ///////////////////////
///////////////////////////////////////////////////////////////

///////////////////////////////////////////////////////////////
//////////////////////////// Forms ////////////////////////////
///////////////////////////////////////////////////////////////

.form {
  margin-top: 20px;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  clear: both;
}

.field-description {
  color: green;
  padding: 0;
  margin: 3px 0;
  text-decoration: underline;
}

input[type=text], input[type=password]{
  border: 2px solid green;
  width: 175px;
}

input[type=submit] {
  border: 2px solid black;
  padding:5px;
  color: white;
  background: green;
  margin-top:5px;
};

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  padding-left: 3px;
}
::-moz-placeholder { /* Firefox 19+ */
  padding-left: 3px;
}
:-ms-input-placeholder { /* IE 10+ */
  padding-left: 3px;
}
:-moz-placeholder { /* Firefox 18- */padding-left: 3px;
}

#sign-up, #sign-in, #sign-out, #change-password, #post-change-warning {
  display: none;
}

#new-game {
  display: none;
  text-align: center;
}

#new-game-dummy {
  text-align: center;
}

#sign-up {
  clear: both;
}

/////////////////////////////////////////////////////
///////////////////// Buttons ///////////////////////
/////////////////////////////////////////////////////

#new-game-b {
  display:none;
  cursor: pointer;
}

#new-game-b-dummy {
  display:none;
}

.login-button-container, .new-game-container {
  margin: 15px auto;
  text-align: center;
}

.login-button-container img {
  max-width: 100px;
  padding-top:5px;
}

.new-game-container img {
  max-width: 100px;
  padding-top:5px;
}

.new-game-container img:hover {
  -moz-box-shadow: 0 0 10px black;
  -webkit-box-shadow: 0 0 10px black;
  box-shadow: 0 0 10px black;
  cursor: pointer;
}

.login-button-container img:hover {
  -moz-box-shadow: 0 0 10px black;
  -webkit-box-shadow: 0 0 10px black;
  box-shadow: 0 0 10px black;
  cursor: pointer;
}

#login-status {
  // font-family: 'Indie Flower', cursive;
  float: right;
  text-align: right;
  margin-right: 10%;
  color: red;
  padding: 5px;
  border: 1px solid red;
  font-size:16px;
}

.password-warning {
  font-family: 'Permanent Marker', cursive;
  font-size: 18px;
  display:none;
  color: red;
}

legend {
  color:blue;
  font-family: 'Permanent Marker', cursive;
  margin-bottom:10px;
}

#start-game-warning, #post-change-warning, #change-password-error {
  color: red;
  font-size: 18px;
  font-family: 'Permanent Marker', cursive;
}

#sign-out-success, #sign-in-success {
  color: green;
  display: none;
}

#new-game-b, #new-game-b-dummy {
  margin: 15px auto;
  text-align: center;
  width: 150px;
}

#change-password-b, #sign-out-b, #change-password-error {
  display:none;
}

// #new-game-b, #new-game-b-dummy {
//   max-width:150px;
//   font-size: 16px;
//   background: #0099ff;
//   color: #ffffff;
//   background-image: -webkit-linear-gradient(top, #0099ff, #315e7a);
//   background-image: -moz-linear-gradient(top, #0099ff, #315e7a);
//   background-image: -ms-linear-gradient(top, #0099ff, #315e7a);
//   background-image: -o-linear-gradient(top, #0099ff, #315e7a);
//   background-image: linear-gradient(to bottom, #0099ff, #315e7a);
//   -webkit-border-radius: 28;
//   -moz-border-radius: 28;
//   border-radius: 28px;
//   text-shadow: 1px 0px 0px #471247;
//   font-family: Arial;
// }

.stats-button-hide-container {
  text-align: center;
}

#stats-button-hide {
  display: none;
  margin: 0 auto;
  color: white;
  background-color: blue;
};

//////////////////////////////////////////////////////
///////////////////// Game box ///////////////////////
//////////////////////////////////////////////////////

.game-board-container {
  display: none;
}

.game-play {
  margin: 15px;
}

.game-box {
  float: left;
  border: 1px solid black ;
  text-align: center ;
  height: 100px ;
  width:33%;
  font-size: 50px;
  vertical-align: middle;
  color:black;
  padding-top:15px;
}

.game-box:nth-child(3n+1){
  clear:both;
}

//////////////////////////////////////////////////////
//////////////////  Messages   ///////////////////////
//////////////////////////////////////////////////////

.message-container {
  border: 1px solid black;
  // font-family: 'Permanent Marker', cursive;
  font-family: 'Indie Flower', cursive;
}

.message-container h3 {
  font-size: 22px;
  color: black
}

.player-message, .temp-login-message {
  color: red;
  text-align: center;
  font-size: 20px;
}

.player-turn {
  display: none;
  color: purple;
  text-align: center;
  font-size: 20px;
}

.score {
  color: blue;
  text-align: center;
  font-size: 20px;
}

.player-message, .temp-login-message {
  color: red;
  text-decoration: underline;
}

///////////////////////////////////////////////////
///////////////////// Media ///////////////////////
///////////////////////////////////////////////////

@media screen and (max-width: 500px) {
  .wrap-background-image {
    margin: 10px 5%;
  }

  .game-play {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (min-width:501px) and (max-width: 1201px) {
  .wrap-background-image {
    margin-right: 35%;
  }
}
